@import url('../../App.css');

/* 공통 컴포넌트 CSS */
.membersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 30%;
  font-family: 'NanumSquare', 'sans-serif';
  font-size: 15px;
  color: #bbbbbb;

  @media (max-width: 425px) {
    font-size: 14px;
  }
  @media (max-width: 375px) {
    font-size: 13px;
  }
  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.membersForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.membersTextInput {
  width: 100%;
  height: 40px;
  margin: 2% 0 2% 0;
  padding-left: 2%;
  border-radius: 2px;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: 'NanumSquare', 'sans-serif';
  font-size: 15px;

  @media (max-width: 425px) {
    font-size: 14px;
  }
  @media (max-width: 375px) {
    font-size: 13px;
  }
  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.membersSubmitButton {
  width: 100%;
  height: 40px;
  margin: 2% 0 2% 0;
  border-radius: 2px;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #adc3a5;
  font-family: 'NanumSquare', 'sans-serif';
  font-size: 15px;
  color: #fff;

  @media (max-width: 425px) {
    font-size: 14px;
  }
  @media (max-width: 375px) {
    font-size: 13px;
  }
  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.membersUtilityContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5% 0 5% 0;
  color: #bbbbbb;
  font-family: 'NanumSquare', 'sans-serif';
}

.membersUtilityButton {
  margin: 0 2% 0 2%;
  font-size: 13px;
  font-family: 'NanumSquare', 'sans-serif';
  color: #bbbbbb;

  @media (max-width: 425px) {
    font-size: 12px;
  }
  @media (max-width: 375px) {
    font-size: 11px;
  }
  @media (max-width: 320px) {
    font-size: 10px;
  }
}

/* 로그인 컴포넌트 CSS */
.loginTitle {
  margin-top: 15%;
  font-family: 'yg-Jalnan', 'sans-serif';
  font-size: 50px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #f4f5ff;
  -webkit-text-stroke: 3px #678464;

  @media (max-width: 425px) {
    font-size: 45px;
  }
  @media (max-width: 375px) {
    font-size: 40px;
  }
  @media (max-width: 320px) {
    font-size: 35px;
  }
}

.loginBoxInputContainer {
  width: 100%;
  margin: 2% auto 2% 0;
  font-family: 'NanumSquare', 'sans-serif';
}

.loginBoxInput {
  border-radius: 50%;
}

.loginBoxInputLabel {
  font-family: 'NanumSquare', 'sans-serif';
  font-size: 15px;

  @media (max-width: 425px) {
    font-size: 14px;
  }
  @media (max-width: 375px) {
    font-size: 13px;
  }
  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.loginSocialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2% 0 5% 0;
}

.loginSocialBox {
  margin: 0 2% 0 2%;
}

.loginSocialImage {
  width: 40px;
  height: 40px;
}

/* 이메일, 비밀번호 찾기 컴포넌트 CSS */
.findTitle {
  font-size: 23px;
  font-family: 'NanumSquare', 'sans-serif';
  margin-top: 15%;
  margin-bottom: 10%;

  @media (max-width: 425px) {
    font-size: 22px;
  }
  @media (max-width: 375px) {
    font-size: 21px;
  }
  @media (max-width: 320px) {
    font-size: 20px;
  }
}

.findAuthContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103%;
}

.findAuthButton {
  width: 30%;
  height: 43px;
  margin: 2% 0 2% 2%;
  border-radius: 2px;
  border-style: none;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: 'NanumSquare', 'sans-serif';
  color: #bbbbbb;
  font-size: 15px;

  @media (max-width: 425px) {
    font-size: 14px;
  }
  @media (max-width: 375px) {
    font-size: 13px;
  }
  @media (max-width: 320px) {
    font-size: 12px;
  }
}
