.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 100px;
  border-width: 1px 0  0;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.37);
  font-family: "NanumSquare", "sans-serif";

  @media (max-width: 425px) {
    font-size: 11px;
  }

  @media (max-width: 375px) {
    font-size: 10px;
  }
}


.footer__contacts{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;

}

.footer > * {
  margin-top: 3px
}

