.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 100px;
  border-width: 1px 0  0;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.37);
}

.footer__contacts{
  display: flex;
  align-items: center;
  justify-content: center;
}