.header {
  font-family: "나눔바른펜", "sans-serif";
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 60px;
  margin: 0 auto;
  z-index: 100;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.37);
  background: #F2F2F2;
}

.header__points {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: left;
  height: 100%;
  width: 33%;
}

.header__points__img {
  margin-left: 10%;
  height: 30px;
  width: 30px;
}

.header__points__text {
  font-family: "Nanum Pen Script", "sans-serif";
  font-size: 23px;
  color: #afa12b;
  font-weight: 100;
}

.header__title {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
}

.header__title__text {
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__community__toggle {
  flex: 1 1 auto;
  height: 100%;
  width: 33%;
  visibility: hidden;
}

@media(max-width: 425px) {
  .header__points__img {
    height: 28px;
    width: 28px;
  }
  .header__points__text {
    font-size: 21px;
  }
  .header__title__text {
    font-size: 21px;
  }
}

@media(max-width: 375px) {
  .header__points__img {
    height: 24px;
    width: 24px;
  }
  .header__points__text {
    font-size: 19px;
  }
  .header__title__text {
    font-size: 19px;
  }
}

@media(max-width: 350px) {
  .header__points__img {
    height: 22px;
    width: 22px;
  }
  .header__points__text {
    font-size: 17px;
  }
  .header__title__text {
    font-size: 17px;
  }
}
