.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 60px;
  margin: 0 auto;
  z-index: 100;
  background-color: #fff;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.37);
}

.header__points {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
}

.header__points__img {
  height: 50%;
  width: 50%;
}

.header__points__text {
  /* TODO */
}

.header__title {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
}

.header__title__text {
  font-size: 20px;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__empty {
  flex: 1 1 auto;
  height: 100%;
  width: 33%;
  visibility: hidden;
}

@media (max-width: 380px) {
  .header__title__text {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  .header__title__text {
    font-size: 12px;
  }
}

@media (max-width: 220px) {
  .header__title__text {
    font-size: 8px;
  }
}