.navbar {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: calc(env(safe-area-inset-bottom) + 0px);
    box-sizing: border-box;
    z-index: 550;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.navbar__box {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 60px;
    width: 20%;
}

.navbar__box__button {
    height: 26px;
    width: 26px;
}

.navbar__box__text {
    font-size: 12px;
    margin-top: 5%;
    color: white;
}

@media (max-width: 520px) {
    .navbar__box__text {
        font-size: 10px;
    }
}

@media (max-width: 440px) {
    .navbar__box__text {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .navbar__box__text {
        font-size: 8px;
    }
}