@font-face {
  font-family: '나눔바른펜';
  src: url("../public/fonts/NanumBarunpen/NanumBarunpenR.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '나눔손글씨펜';
  src: url("../public/fonts/NanumPen/NanumPen.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '나눔스퀘어';
  src: url('../public/fonts/NanumSquare/NanumSquare.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '여기어때잘난체';
  src: url('../public/fonts/ygJalnan/Jalnan.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KoPub돋움';
  src: url('../public/fonts/KoPubDotum/KoPubDotum.otf');
  font-weight: normal;
  font-style: normal;
}

html {
  color: #4C4C4C;
}

body {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.37);
  background-color: #FFFEF6;

}

a {
  color: #4C4C4C;
  text-decoration: none;
  outline: none;
}

a:hover, a:active {
  color: #4C4C4C;
  text-decoration: none;
}
